.getStarted_animation {
    animation: getStartedAnimation 2.5s linear infinite;
}

@keyframes getStartedAnimation {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}